* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');